---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
description: |-
    {{ .Description }}
---

# {{.Name}}

{{ .Description }}

## Example Usage

### Basic

{{ tffile (printf "%s%s%s" "examples/data-sources/" .Name "/data-source.tf") }}

### Embed files from the filesystem

{{ tffile (printf "%s%s%s" "examples/data-sources/" .Name "/files_dir.tf") }}

{{ .SchemaMarkdown | trimspace }}

### Strict mode

{{ tffile (printf "%s%s%s" "examples/data-sources/" .Name "/strict.tf") }}

{{ .SchemaMarkdown | trimspace }}
